.responsive-image {
    display: none;
}

/* For små skjermer */
@media (max-width: 600px) {
    .responsive-image.small {
        display: block;
    }
}

/* For mellomstore skjermer */
@media (min-width: 601px) and (max-width: 1024px) {
    .responsive-image.medium {
        display: block;
    }
}

/* For store skjermer */
@media (min-width: 1025px) {
    .responsive-image.large {
        display: block;
    }
}